* {
    box-sizing: border-box;
    margin: 0px;
    margin-top: 0px !important;
    padding: 0px;
}
html {
    scroll-behavior: smooth;
}
header {
    background: url(images/b1.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    min-height: 800px;
    position: relative;
    background-attachment: fixed;
}
.header-overlay {
   background: rgba(0, 0, 0, 0.55); 
   height: 100vh;
   min-height: 800px;
}
.nav-container {
    position: fixed;
    display: inline-block;
    left: 50px;
    top: 50px;
    z-index: 1;
}
.nav-container-button {
    cursor: pointer;
    width: 40px;
    height: 50px;
    position: relative;
}
.nav-container-list {
  display: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.nav-container-list a {
  font-family: 'Encode Sans Condensed', sans-serif;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.nav-container-list a:hover, .nav-container-list a:active {
    color: #009688;
}
.show {}
.nav-bar1, .nav-bar2, .nav-bar3 {
  width: 50px;
  height: 5px;
  background-color: white;
  margin: 10px 0;
  transition: 0.4s;
}
.change .nav-bar1 {
  -webkit-transform: rotate(-45deg) translate(-13px, 12px);
  transform: rotate(-45deg) translate(-13px, 12px);
  background-color: #009688;
}

.change .nav-bar2 {opacity: 0;}

.change .nav-bar3 {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
  transform: rotate(45deg) translate(-9px, -8px);
  background-color: #009688;
}
.header-content {
   
}
.header-content-container {
    position: relative;
    top: 22em;
}

.header-content h2 {
    display: none;
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 45px;
    letter-spacing: 0.034em;
    font-weight: 100;
    text-align: center;
}
.header-media-icons {
    display: none;
    margin: 0 auto;
    width: 235px;
    color: white;
    letter-spacing: 1em;
    padding-top: 30px;
    text-decoration: none;
}
.header-media-icons i {
     cursor: pointer;
    -webkit-transition: 0.4s; 
    transition: 0.4s;
    
}
.header-media-icons i:hover {
    color: #009688;
}
.header-media-icons a {
    color: white;
}
.section-title {
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
}
.section-title::before, .section-title::after {
	content: '';
	background: #009688;
	height: 2px;
	position: absolute;
	width: 50px;
	margin-top: -5px;
}
.section-title::after {
    margin-top: 50px;
}
.about-section {
     height: 100vh;
     min-height: 960px;
     background-color: #1e1e1e;
}
.about-container {
    width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
.about-desc {
    width: 600px;
    float: left;
}
.about-pic {
    display: none;
    width: 600px;
    float: right;
    padding-top: 50px;
}
.about-pic img {
    width: 80%;
}
.about-container h2 {
    display: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.about-container p {
    display: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #CCC;
}
.portfolio-section {
     background-color: #eee;
     color: #1e1e1e;
     height: 100vh;
     min-height: 960px;
     padding: 100px 0;
}

.project-container {
    width: 1200px;
    height: 710px;
    margin: 0 auto;
    margin-top: 50px !important;
}
.project-desc-container {
    height: 100%;
    float: left;
}
.project-title {
    font-family: 'Encode Sans Condensed', sans-serif;
    color: #000;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 400;
    width: 200px;
    padding-left: 50px;
    padding-top: 30px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.project-title-underline {
   width: 70px;
   height: 2px;
   background: #009688;
   display: inline-block;
}
.project-desc {
    font-family: 'Encode Sans Condensed', sans-serif;
    margin: 0;
    color: #333;
    font-size: 0.95em;
    line-height: 1.8;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 50px;
    padding-top: 30px;
    width: 500px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.project-desc-devicons {
    padding-left: 50px;
    padding-top: 30px;
}
.project-desc-devicons img {
    width: 30px;
    height: 30px;
}
.button-link {
  font-family: 'Encode Sans Condensed', sans-serif;
  position: relative;
  left: 275px;
  top: 475px;  
  border: 2px solid #1e1e1e;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.button-link:link, .button-link:visited {
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 200px;
  height: 60px;
}

.button-link:hover, .button-link:active {
  background-color: #1e1e1e;
  color: white;
}
.link-text {
    padding: 4px 0px;
    letter-spacing: 2px;
}
.project-img-border {
    position: relative;
    border: 7px solid #009688;
    width: 500px;
    float: right;
    top: 100px;
    right: 100px;
}
.thumbnail {
	position: relative;
	top: 25px;
	left: 25px;
	display: block;
	width: 500px;
	height: auto;
	transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
         cursor: pointer;

.thumbnail:hover {opacity: 0.7;}
}
#portfolio-modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}
#modal-image {
  margin: auto;
  display: block;
  max-height: 730px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
.close-button {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 80px;
  font-weight: bold;
  transition: 0.3s;
}

.close-button:hover,
.close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.project-slide {
    display: none;
    height: 600px;
}
.prev, .next {
  display: none;
  cursor: pointer;
  position: relative;
  top: 55%;
  width: auto;
  padding: 32px;
  margin-top: -50px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: bold;
  font-size: 40px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.prev {
    float: left;
}
.next {
  float: right;
  border-radius: 3px 0 0 3px;
 }
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.contact-section {
    background: url(images/b2.jpg) no-repeat 0px 0px;
    min-height: 960px;
    background-color: #1e1e1e;
    background-attachment: fixed;
    color: white;
}
.contact-section-overlay {
   background: rgba(0, 0, 0, 0.55); 
   height: 100vh;
   min-height: 960px;
}
.contact-section-container {
    padding-top: 100px;
    height: 835px;
    max-width: 1200px;
    margin: 0 auto;
}
.footer {
    max-width: 1200px;
    margin: 0 auto;
    height: 125px;
    padding: 50px 10px;
    border-top: 1px solid #CCC;
    font-family: 'Encode Sans Condensed', sans-serif;
    line-height: 25px;
    font-size: 1em;
    letter-spacing: 1px;
}
.footer ul {
    list-style-type: none;
    display: inline-block;
}
.footer ul li {
    display: inline-block;
    margin-right: 15px;
}
.footer ul li a {
    text-decoration: none;
    color: white;
}
.footer ul li a:hover {
    color: #009688;
}
.footer p {
    display: inline-block;
    float: right;
}