* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00284d;
  color: white;
}

header {
  
}
input[type=number], select, button {
  width: 10%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.miniature:hover {
width: 120px;
height: 120px;
cursor: pointer;
}
.miniature {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
a:link, a:visited {
  background-color: #00284d;
  color: white;
  width: 100%;
  height: 50px;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: #0059b3;
}

nav {
  float: left;
  width: 15%;
  height: 100%; 
  font-size: 120%;
  background: #00284d;
  padding: 0px;
}

article {
  float: left;
  padding: 20px;
  width: 85%;
  background-color: #004280;
  height: 100%; 
}

section:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}